[uwsgi]
http = :4040
wsgi-file = server.py
callable = app
wsgi-disable-file-wrapper = true
master = true
processes = 1
threads = 1
buffer-size = 65535
stats = 127.0.0.1:9192
log-5xx = true
disable-logging = true
ignore-sigpipe = true
ignore-write-errors = true
disable-write-exception = true
